<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onegoodthing.onegoodthing" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/icon"
        >


        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- FAQ -->
        <activity
            android:name=".About"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <!-- DO I NEED A MAIN HERE? -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add GoodThing -->
        <activity
            android:name=".AddGoodThing"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <!-- DO I NEED A MAIN HERE? -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remember When -->
        <activity
            android:name=".RememberWhen"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <!-- DO I NEED A MAIN HERE? -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Intro Tour -->
        <activity
            android:name=".IntroTour"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add First GoodThing -->
        <activity
            android:name=".AddFirstGoodThing"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
